@use 'variables' as *;
@use 'utilities' as *;
@import 'buttons';
@import 'GetInTouch';
@import 'AboutMe';
@import 'Experience';
@import 'Skills';
@import 'HeroBanner';
@import 'LightDark';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 5, 5, 5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter), sans-serif;
  background-color: $bg;
  color: $text-primary;
  scroll-behavior: smooth;
  background-image: url("../../../public/wave.svg"), url("../../../public/Group 5.svg"), url("../../../public/wave (2).svg");
  background-position: top, center, bottom;
  background-repeat: no-repeat;
  background-size: 100vw, 80vw, 100vw;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-accent;
    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


// Utility Classes
.glass-panel {
  @include glass-panel;
}

.text-gradient {
  @include text-gradient;
}

.section-header {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 3rem;
  text-align: center;

  span {
    @include text-gradient;
  }
}

.btn-primary {
  @include btn-primary;

  &.small {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}

.btn-secondary {
  @include btn-secondary;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem;

  .logo {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 2px;
    // @include text-gradient;
    color: $color-4;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;

    a {
      font-size: 0.9rem;
      font-weight: 500;
      color: $text-secondary;

      &.btn-primary {
        color: #000;
      }

      &:hover {
        color: $primary-accent;
      }

    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1rem;

    .nav-links {
      gap: 1rem;
      font-size: 0.8rem;
    }
  }
}

#select-lang {
  color: aliceblue;
  background-color: $color-2;
  min-width: 55px;
  border: none;
  border-radius: 10px;
  appearance: auto;
  padding-right: 0;

  // ::after {
  //   content: '\25BC';
  //   color: white;
  // }
}