.button-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px !important;
  border: 0.5px solid $color-2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}