$color-1: #222831;
$color-2: #393E46;
$color-3: #948979;
$color-4: #DFD0B8;
$color-5: #183D3D;

/* Modern Dark Theme Palette */
$bg: #222831;
$bg-violet: #2E073F;
$bg-dark: #050505;
$bg-card: rgba(255, 255, 255, 0.05);
$bg-card-hover: #22283128;

$primary-accent: #E1FFC2; // Neon Cyan
$secondary-accent: $color-4; // Neon Purple
$text-primary: #ffffff;
$text-secondary: rgba(255, 255, 255, 0.7);

$gradient-main: #e1ffc2;
//  #EBD3F8; // linear-gradient(135deg, $primary-accent, $secondary-accent);
$glass-border: 1px solid rgba(255, 255, 255, 0.1);

// $color-6: #F9FAFB;